:root {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #ca1;
  font-family: helvetica, sans-serif;
  color: rgba(25, 25, 25, 0.8); }

nav ul {
  list-style: none; }
  nav ul li {
    display: inline; }
    nav ul li a {
      color: blue;
      text-decoration: none;
      font-size: 1.5rem; }
      nav ul li a:hover {
        color: #000000; }

nav ul li, article {
  background: #fff;
  border: 1px solid #000000;
  padding: 10px;
  width: 800px; }

article {
  font-size: 2rem;
  width: 400px; }
